#menu-header {
    display: flex;
    justify-content: space-between;   
    width: 70%; 

    a{
        padding: 10px 15px;
        display: block;
        font-size: 20px;
        color: white;
    }
}